h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 60px;
}
/* Estilo para la tabla pixelada */
.table {
    border-collapse: collapse;
    /* Quitar los espacios entre las celdas */
    font-family: "Pixelify Sans", sans-serif;
    /* Fuente estilo pixelado */
    width: 100%;
    /* Ancho completo */
    border: 3px solid #333;
    /* Borde grueso oscuro */
}

.table th,
.table td {
    border: 2px solid #333;
    /* Bordes gruesos en cada celda */
    padding: 10px;
    /* Espacio dentro de las celdas */
    text-align: center;
    /* Centrar el texto */
    font-size: 18px;
    /* Tamaño de texto */
}

.table thead th {
    background-color: #999;
    /* Fondo gris para el encabezado */
    color: #fff;
    /* Texto blanco para el encabezado */
    font-size: 20px;
    /* Tamaño de fuente más grande */
    text-transform: uppercase;
    /* Transformar el texto en mayúsculas */
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
    /* Color alternativo para filas impares */
}

.table tbody tr:nth-child(even) {
    background-color: #d9d9d9;
    /* Color alternativo para filas pares */
}

.table-hover tbody tr:hover {
    background-color: #ccc;
    /* Color de fondo al pasar el ratón */
}


/* Estilo para el botón de éxito (Finalizar Recepción o similar) */
.btn-secondary {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    width: 180px;
    height: 40px;
    background-color: #28a745;
    color: #ffffff;
    border: 2px solid #013417;
    padding: 5px;
    display: inline-block;
    margin-right: 10px;
    /* Espacio entre botones */
    box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #002575;
    transition: background-color 0.2s ease;
    margin-left: 5px;
}

.btn-secondary:hover {
    background-color: rgb(6, 76, 22);

    cursor: pointer;
}

/* Botón de peligro (Eliminar) */
.btn-danger {
    background-color: #b40505;
    border: 2px solid #290101;
    box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #270000;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    width: 180px;
    height: 40px;
    color: #ffffff;
    padding: 5px;
    display: inline-block;
    margin-right: 10px;
    /* Espacio entre botones */
    transition: background-color 0.2s ease;
}

.btn-danger:hover {
    background-color: #4e0000;
    /* Rojo más oscuro al hacer hover */
    cursor: pointer;
}

.btn-primary {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    width: 180px;
    height: 40px;
    color: #ffffff;
    padding: 5px;
    display: inline-block;
    margin-right: 10px;
    /* Espacio entre botones */
    transition: background-color 0.2s ease;
    background-color: #005ab9;
    border: 2px solid #012462;
    box-shadow: inset 1px 1px 0px 0px #ffffff, inset -1px -1px 0px 0px #002575;
}

/* Estilo específico para el hover de los botones */
.btn-primary:hover {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    width: 180px;
    height: 40px;
    color: #ffffff;
    padding: 5px;
    display: inline-block;
    margin-right: 10px;
    /* Espacio entre botones */
    transition: background-color 0.2s ease;
    background-color: #0a0050;
    /* Efecto hover azul para los botones generales */
    cursor: pointer;
}


.form-control {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 18px;
}