<h1 style="text-align: center;">Jaulas</h1>
<div class="container-sm">
    <div class="d-flex">
        <div class="p-2 flex-grow-1">
            <input class="form-control" type="search" placeholder="Buscar por nombre" aria-label="Search"
                [(ngModel)]="searchTerm" name="search" (ngModelChange)="filterJaulas()" />
        </div>
        <div class="p-2">
            <!-- Botón para abrir el modal -->
            <button type="button" class="btn btn-secondary " (click)="createJaula()">Nueva Jaula</button>
        </div>
    </div>
</div>
<div class="container-sm">
    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jaula of filteredJaulas">
                <td>{{ jaula.id }}</td>
                <td>{{ jaula.nombre }}</td>
                <td>{{ jaula.enUso }}</td>
                <td>
                    <button class="btn btn-primary text-center" (click)="editJaula(jaula)">Editar</button>
                    <button (click)="deleteJaula(jaula)" class="btn btn-danger text-center"
                        style="margin-left: 10px;">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-jaula-create></app-jaula-create>
<app-jaula-delete [jaula]="jaulaSeleccionada"></app-jaula-delete>
<app-jaula-edit [jaula]="jaulaSeleccionada"></app-jaula-edit>

