<!-- Modal Body -->
<div class="modal fade" id="myModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Editar producto
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body" *ngIf="producto">
                    <!-- Contenido del modal -->
                    <form (ngSubmit)="updateProducto(producto)">
                        <div>
                            <label for=" nombre">Nombre del Producto:</label>
                            <input type="text" id="nombre" name="nombre" [(ngModel)]="producto.nombre" required />
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>