<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading fw-normal lh-1">PoliSupply</h1>
                <h4>Sistema de Agendamiento de Proveedores</h4>
                <button type="button" class="btn btn-success"
                    onclick="window.location.href='http://localhost:4200/recepcion'">Ingresar</button>
            </div>
            <div class="col-md-5">
                <img src="image.png" alt="Descripción de la imagen" class="featurette-image img-fluid mx-auto"
                    width="500" height="500">
            </div>
        </div>
    </div>
</div>